/* home page */

html body {
  margin: 0;
  padding: 0;
}

.anime {
  display: grid;
  font-family: cursive;
  margin-left: 10%;
  font-size: 245%;
}

.manga {
  display: grid;
  font-family: cursive;
  margin-left: 20%;
  font-size: 245%;
}

.home {
  display: grid;
  padding: 20px 20px;
  height: 60px;
}

.home ul {
  margin: 0px;
  list-style: none;
}

ul li {
  list-style: none;
  margin-left: 8%;
  display: inline-block;
  position: relative;
}

ul li a {
  font-size: 130%;
  display: block;
  padding: 5px 5px;
}

ul li ul {
  display: none;
  position: absolute;
  padding: 3px 0px 25px 3px;
  border-radius: 4px;
}

ul li ul li a {
  position: absolute;
  padding: 2px 2px 3px 3px;
}

ul li ul li a:hover {
  background-color: rgb(245, 245, 245);
}

ul li ul li {
  width: 140px;
  height: 20px;
  border-radius: 4px;
}

ul li:hover ul {
  display: block;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 150px;
  margin-top: 17%;
}

.homeform {
  grid-column: 2;
  margin-left: 35%;
  margin-bottom: 25%;
}

#submitEnter {
  background-color: darkgreen;
  color: orchid;
}

#submitEnter:hover {
  background-color: orchid;
  color: darkgreen;
}

html {
  background-image: url(./assets/EqXqR3nUwAIDgyt.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 100%;
}

.home a {
  color: rgb(235, 8, 8);
  text-decoration: none;
}

/* About Page */
.AboutPage ul li {
  font-size: 130%;
  grid-column: 1;
  margin-left: 25%;
  margin-right: 5%;
  list-style: none;
  display: inline-block;
}
.aboutmepage {
  font-size: 140%;
  color: white;
  margin-left: 45%;
}

.myname {
  font-size: 240%;
  margin-left: 42%;
  color: lavender;
}

.aboutBody {
  background-image: url(./assets/EqXqR3nUUAE99vd.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 100%;
}

.AboutPage a {
  color: aqua;
  text-decoration: none;
}

/*  contact page */

.ContactPage ul li {
  font-size: 130%;
  grid-column: 1;
  margin-left: 26%;
  list-style: none;
  display: inline-block;
}

.contactbody {
  background-image: url(./assets/hd-wallpaper-ge84376764_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 100%;
}

.contact {
  margin: 105px;
  color: whitesmoke;
}

.lennie {
  margin: 105px;
  color: whitesmoke;
}
.Contact a {
  margin: 105px;
  color: blue;
  margin-top: 10px;
}

.ContactPage a {
  color: rgb(239, 16, 16);
  text-decoration: none;
}
.Contact p {
  color: white;
  font-size: 24px;
  margin-left: 85px;
}

/* media query */

@media (min-width: 1208px) {
}
