/* -------------------------Home page------------------------- */

html body {
  margin: 0;
  padding: 0;
}

.AP {
  display: grid;
  height: 50%;
  width: 75%;
  margin-left: 12%;
}

.anime {
  font-family: cursive;
  font-size: 240%;
  margin-top: -3%;
  width: 32%;
  grid-column: 1;
  color: aqua;
}

.Power {
  font-family: cursive;
  margin-left: 120%;
  font-size: 240%;
  width: 32%;
  grid-column: 1;
  color: aquamarine;
}

.Topfive {
  display: grid;
  height: 95%;
  width: 65%;
  grid-column: 2;
  grid-row: 1/6;
  padding: 3%;
  margin-left: 34%;
}

.Topfive li {
  grid-row: 1;
  padding: 15%;
  margin: 9%;
  margin-top: 0%;
  margin-bottom: 2%;
  text-align: center;
}

.Topfive li img {
  grid-row: 1;
  width: 150%;
  height: 90%;
}

h2 {
  font-size: 0%;
}

p {
  color: red;
}

.home {
  display: grid;
  padding: 0% 28%;
  height: 60%;
  margin-left: 2%;
}

.home ul {
  margin: 0%;
  list-style: none;
}

ul li {
  list-style: none;
  margin-left: 8%;
  display: inline-block;
  position: relative;
}

ul li a {
  font-size: 130%;
  display: block;
  padding: 5% 5%;
}

ul li ul {
  display: none;
  position: absolute;
  padding: 3px 0px 25px 3px;
  border-radius: 4px;
}

ul li ul li a {
  position: absolute;
  padding: 2px 2px 3px 3px;
}

ul li ul li a:hover {
  background-color: rgb(245, 245, 245);
}

ul li ul li {
  width: 140px;
  height: 20px;
  border-radius: 4px;
}

ul li:hover ul {
  display: block;
}

.container {
  display: grid;
  margin-top: 0%;
  margin-left: 15%;
  margin-right: 10%;
}

.statistics {
  display: grid;
  margin-left: 15%;
  margin-top: 0%;
  margin-right: 52%;
  background-color: white;
}

.animepic {
  grid-column: 2;
  grid-row: 1;
  margin-left: 0%;

  background-color: white;
}

.homeform {
  grid-row: 1;
  grid-column: 2;
  margin-top: 36%;
}

#submitEnter {
  width: 10%;
  background-color: darkgreen;
  color: orchid;
}

#submitEnter:hover {
  width: 10%;
  background-color: orchid;
  color: darkgreen;
}

html {
  background-image: url(./assets/EqXqR3nUwAIDgyt.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.home a {
  color: rgb(235, 8, 8);
  text-decoration: none;
}

/*--------------------------- About Page ---------------------------------------------------*/

.AboutPage ul li {
  font-size: 130%;
  grid-column: 1;
  margin-left: 25%;
  margin-right: 5%;
  list-style: none;
  display: inline-block;
}
.aboutmepage {
  font-size: 140%;
  color: white;
  margin-left: 45%;
}

.myname {
  font-size: 240%;
  margin-left: 42%;
  color: lavender;
}

.aboutBody {
  background-image: url(./assets/EqXqR3nUUAE99vd.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 100%;
}

.AboutPage a {
  color: aqua;
  text-decoration: none;
}
div.About {
  display: grid;
  grid-column: 2;
  margin-right: 10%;
}

article {
  display: grid;
  grid-column: 3;
  grid-row: 1;
}
article p {
  font-size: 100%;
  grid-column: 4;
  color: white;
}

.image {
  grid-column: 1;
}
/* ----------------------------------- contact page ------------------------------------*/

.ContactPage ul li {
  font-size: 130%;
  grid-column: 1;
  margin-left: 26%;
  list-style: none;
  display: inline-block;
}

.contactbody {
  background-image: url(./assets/hd-wallpaper-ge84376764_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 100%;
}

.contact {
  margin: 15%;
  margin-top: 5%;
  color: whitesmoke;
}

.lennie {
  margin: 15%;
  margin-top: -15%;
  color: white;
}
.Contact a {
  margin: 15%;
  color: blue;
  margin-top: 10%;
  font-size: 138%;
}

.ContactPage a {
  color: rgb(239, 16, 16);
  text-decoration: none;
}

.Contact p {
  color: white;
  font-size: 124%;
  margin-left: 15%;
  margin-top: -13%;
}

/* media queries */
@media (min-width: 1280px) {
}
@media (max-width: 1279px) {
}
@media (max-width: 650px) {
  .home {
    display: grid;
    grid-template-columns: 1fr;
  }
}
